body {
	font-size: 12px;
}
.carousel-caption {
	background: rgba(0,0,0,0.6);
	padding: 0 20px;
	border-radius: 12px;
}
.carousel-caption h1 {
	font-size: 16px;
	margin: 8px 0 0;
}
a {
	color: inherit;
	text-decoration: underline;
}
a:hover {
	color: inherit;
}
